{% extends 'tutorial_base.html' %}

{% block instructions %}
<div>
    <div class="text-container">
        <div>
            Welcome! Begin by trying to enter the username a password combination: Alice, abc123
        </div>
        <div>
            text2  
        </div>
        <div>
            text3
        </div>
    </div>
    <div class="pagination">
        <a href="#" onclick="prev()">Previous</a>
        <span class="page-num">0/0</span>
        <a href="#" onclick="next()">Next</a>
    </div>
</div>

<script>
// setup pagenum
pageCounter = document.getElementsByClassName('page-num')[0]
container = document.getElementsByClassName("text-container")[0]
total = container.childElementCount
current = 0
pageCounter.innerHTML = (current + 1) + "/" + total
// set others to invisible
for(let c of container.children){
    c.style.display = "none"
}
container.children[0].style.display = "block"

const prev = () => {
    if(current == 0)
       return 

    container.children[current].style.display = "none"
    current -= 1
    container.children[current].style.display = "block"
    pageCounter.innerHTML = (current + 1) + "/" + total
}
const next = () => {
    if(current == total - 1)
       return 

    container.children[current].style.display = "none"
    current += 1
    container.children[current].style.display = "block"
    pageCounter.innerHTML = (current + 1) + "/" + total
}
</script>
{% endblock %}
