{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Ethics Statement{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
  <p>
    In this tutorial, you will learn how to exploit common vulnerabilities in web applications.
    With this insight, you will be able to create more secure software.
    As we've learned from Spider-Man, with great power comes great responsibility.
    You will act ethically and responsibly with your new powers, and only use your knowledge for good!
  </p>
  <form method="post">
      <input type="submit" value="I Agree">
  </form>
</div>
{% endblock %}