{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tutorial{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel-container">
    <div class="instruction-panel">
        <div>
            <div class="text-container">
                {% block text %}{% endblock %}
            </div>
            <div class="pagination">
                <a href="#" onclick="prev()">Previous</a>
                <span class="page-num">0/0</span>
                <a href="#" onclick="next()">Next</a>
            </div>
        </div>
    </div>
    <div class="main-panel">
        <h1>Welcome to a vulnerable website!</h1>
        <form method="post">
            <input type="hidden" name="step" value="1" required>
            <input name="username" placeholder="username" required>
            <input name="password" placeholder="password" required>
            <input type="submit" value="Log In">
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="flash {{ 'success' if category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</div>

<script>
// setup pagenum
pageCounter = document.getElementsByClassName('page-num')[0]
container = document.getElementsByClassName("text-container")[0]
total = container.childElementCount
// given default step (ignore error)
// NOTE: 1-indexed everywhere
// include a min in case that step is messed up
current = Math.min({{ step }}, total)
pageCounter.innerHTML = current + "/" + total
// set others to invisible
for(let c of container.children){
    c.style.display = "none"
}
container.children[current - 1].style.display = "block"

const prev = () => {
    if(current == 1)
       return 

    container.children[current - 1].style.display = "none"
    current -= 1
    container.children[current - 1].style.display = "block"
    pageCounter.innerHTML = current + "/" + total

    // update in server
    fetch("/prev-step", {method: "POST"})
}
const next = () => {
    if(current == total)
       return 

    container.children[current - 1].style.display = "none"
    current += 1
    container.children[current - 1].style.display = "block"
    pageCounter.innerHTML = current + "/" + total

    // update in server
    fetch("/next-step", {method: "POST"})
}
</script>
{% endblock %}